<select (change)="MyFunction($event)">
    <option *ngFor="let car of cars">{{car}}</option>
</select>
<h1>this is My horse </h1>
<img [src]="horse">
<h1>{{name}}</h1>
<input type="text" [(ngModel)]="name">
<input type="button" [value]="LoginState" (click)="Toggle()">
<div *ngIf="IsAuth then Welcom else Error"></div>
<ng-template #Welcom>
<p style="color: gold;"> Welcom to Our App! </p>
</ng-template>
<ng-template #Error>
    <p style="color: red;">Please Login to Our App! </p>
    </ng-template>